
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Home</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Exclusive Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->
	<!-- Custom-Files -->
	<link rel="stylesheet" href="/../static/css/bootstrap22.css">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="/../static/css/style22.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="/../static/css/font-awesome22.css">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->
	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<!-- //Web-Fonts -->
</head>
<body>

	<!-- header -->
		<!-- navigation -->
		<div class="main-top">
		 <header>
			<div class="container-fluid px-lg-5 ">
				<nav class="mnu mx-auto">
						  <label for="drop" class="toggle">Menu</label>
							<input type="checkbox" id="drop">
							<ul class="menu">
								<li class="mr-lg-4 mr-3 active"><a href="{{ url_for('home')}}">Home</a></li>
								<li class="mr-lg-4 mr-3"><a href="{{ url_for('profile')}}" class="scroll">Profile</a></li>

								  <li class="mr-lg-4 mr-3"><a href="{{ url_for('friends')}}" class="scroll">Search Friends</a></li>

								{% set testing = session['dot'] %}
								{% set another = testing %}
								{% set another2 = NULL %}

								{% if another == another2 %}
                                <li class="mr-lg-4 mr-3"><a href="{{ url_for('friendreq')}}" class="scroll">Friends Req</a></li>
								{% else %}
								  <li class="mr-lg-4 mr-3"><a href="{{ url_for('friendreq')}}" class="scroll">Friends Req  <img src="/../static/images/dot.png " style="height: 10px; width: 10px;"> </a></li>
								{% endif %}


								<li class="mr-lg-4 mr-3"><a href="{{ url_for('friends2')}}" class="scroll">Friends</a></li>
								<li class="mr-lg-4 mr-3"><a href="{{ url_for('setting')}}" class="scroll">Setting</a></li>
								<li><a href="{{ url_for('logout')}}" class="scroll">Log Out</a></li>
							</ul>
						</nav>
			</div>
		</header>
		</div>
		<!-- //navigation-->

	<section class="banner-bottom" id="about">
		<div class="container">
            <div class="inner-sec">
                <div class="row middle-grids">
                    <div class="col-lg-4 advantage-grid-info1">
                        <div class="advantage_left1 text-center">

                            <img src="{{session['photo']}}" class="img-fluid" alt="{{session['photo']}}">

							<h4>Upload Profile Photo</h4>
							<form action = "/success" method = "post" enctype="multipart/form-data">
       							 <input type="file" name="file" accept="image/*" />
								 <input type="hidden" value="{{session['mess']}}" name="filename" />
								<input type = "submit" value="Upload">
   							 </form>
                        </div>
                    </div> 
					 <div class="col-lg-8 advantage-grid-info">
                        <div class="advantage_left">
                             <h1 class="heading text-capitalize mb-sm-5 mb-4">Welcome  <span> {{session['mess']}}</span></h1>
							<p class="mt-4">“Social networks aren’t about Web sites.
								They’re about experiences.”</p>

						</div>
                    </div>
                </div>
            </div>
		</div>
    </section>


</body>
</html>